<a href="https://colab.research.google.com/github/Varshithanelli/python/blob/main/Day_2_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [6]:
#list is mutable and tuple is immutable i.e tuple elements cannot be changed
my_list=[1,2,3]
print(my_list)
print(type(my_list))
my_tuple=(4,5,6)
print(my_tuple)
print(type(my_tuple))
#list elements are enclosed in square brackets while tuple elements are enclosed in curve brackets '()'

[1, 2, 3]
<class 'list'>
(4, 5, 6)
<class 'tuple'>

## 2.How list is different from an array

In [12]:
l=[2,3,4,5]
print(l)
#list can have heterogenous elements
l1=["h","hello",22,5]
print(l1)
#creating array by importing numpy
import numpy as np
arr=np.array([32,5,3,7,8])
print(arr)
#arrays only stores homogenous elements
#trying too add heterogenous elements
arr1=np.array([1,"h",3,"hello"])
#now every element in array turns out to be as string/character to form homogenous elements
print(arr1)

[2, 3, 4, 5]
['h', 'hello', 22, 5]
[32  5  3  7  8]
['1' 'h' '3' 'hello']

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [7]:
l=[1,2,3,4]
print(l)
l.append(5)
print("after appending 5 in list:",l)
l2=l.copy()
print("after copy operation",l2)
l.clear()
print("after clearing the list",l)
l1=[5,6,7,8,9,10,9,4,6,6,5]
print(l1)
c=l1.count(9)
print("count of 9 is: ",c)
e=[4,8,"h","hello"]
l1.extend(e)
print("after extending ",l1)
i=l1.index(7)
print("index of 7 is :",i)
l1.insert(5,55)
print("after inserting ",l1)
p=l1.pop()
print("popped element :",p)
print("after popping list is:",l1)
l1.reverse()
print("reversed list:",l1)
l3=[4,2,7,5,9,0,1,6,2]
l3.sort()
print("sorted list :",l3)
print("maximum element in list ",max(l3))
print("minimum element in list ",min(l3))
print("sum of the elements in list :",sum(l3))

[1, 2, 3, 4]
after appending 5 in list: [1, 2, 3, 4, 5]
after copy operation [1, 2, 3, 4, 5]
after clearing the list []
[5, 6, 7, 8, 9, 10, 9, 4, 6, 6, 5]
count of 9 is:  2
after extending  [5, 6, 7, 8, 9, 10, 9, 4, 6, 6, 5, 4, 8, 'h', 'hello']
index of 7 is : 2
after inserting  [5, 6, 7, 8, 9, 55, 10, 9, 4, 6, 6, 5, 4, 8, 'h', 'hello']
popped element : hello
after popping list is: [5, 6, 7, 8, 9, 55, 10, 9, 4, 6, 6, 5, 4, 8, 'h']
reversed list: ['h', 8, 4, 5, 6, 6, 4, 9, 10, 55, 9, 8, 7, 6, 5]
sorted list : [0, 1, 2, 2, 4, 5, 6, 7, 9]
maximum element in list  9
minimum element in list  0
sum of the elements in list : 36

## 4, How would you divide the list into two parts?

In [8]:
l=[1,2,3,4,5,6,7,8]
print(l)
n=len(l)//2
l1=l[:n]
print(l1)
l2=l[n:]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]
[5, 6, 7, 8]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [11]:
l=[1,2,3,4,5,6,7,8,9,21,23,24]
print(l)
l2=[]
for i in l:
  if i%3==0:
    l2.append(i)
print("filtered list with multiples of 3 :",l2)
l3=[]
for i in l2:
  if i%2==0:
    l3.append(i)
print("output list :",l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 21, 23, 24]
filtered list with multiples of 3 : [3, 6, 9, 21, 24]
output list : [6, 24]

## 6. How you can access keys and values simultaneously and update its value

In [18]:
d={'a':1,'b':2,'c':3,'d':4}
for key,value in d.items():
  print("key", key,"value", value)
c=str(input("enter any key "))
a=int(input("enter the updated value "))
if c in d:
  d[c]=a
  print("key found and value updated")
else:
  print("key not found")
print("updated dictionary :",d)

key a value 1
key b value 2
key c value 3
key d value 4
enter any key d
enter the updated value 7
key found and value updated
updated dictionary : {'a': 1, 'b': 2, 'c': 3, 'd': 7}

## 7. Write python program to join, merge, concatente the two dictionaries..

In [19]:
d1={'a':1,'b':2}
d2={'c':3,'d':4}
m=d1.copy()
m.update(d2)
print(d1)
print(d2)
print(m)

{'a': 1, 'b': 2}
{'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## 8. How would you check a specific keys from the dictionary??

In [21]:
d={'a':1,'b':2,'c':3,'d':4}
m=str(input("enter a key to check "))
if m in d:
  print("key found")
else:
  print("key not found")

enter a key to check c
key found

## 9. write a python program to find the unique vowel present in the sentence

In [24]:
s=str(input("enter a sentence "))
vowels=['A','E','I','O','U','a','e','i','o','u']
unique=set()
for i in s:
  if i in vowels:
    unique.add(i)
a=sorted(unique)
print("unique vowels in sentence")
print(a)

enter a sentence gOod morning
unique vowels in sentence
['O', 'i', 'o']

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [26]:
#by adding two tuples
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)
#by converting into list
t=(1,2,3,4,5,6)
l=list(t)
l.append(7)
updtuple=tuple(l)
print(updtuple)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [31]:
l=[(2,3),(4,5),(6,4)]
print("list of tuples is :",l)
l2=[]
for i in l:
  l2.append(sum(i))
print("sum of tuples in list ",l2)
t=([2,3],[4,5],[6,4])
print("tuple of lists ",t)
t2=[]
for i in t:
  t2.append(sum(i))
t1=tuple(t2)
print("sum of lists in tuple ",t1)

list of tuples is : [(2, 3), (4, 5), (6, 4)]
sum of tuples in list  [5, 9, 10]
tuple of lists  ([2, 3], [4, 5], [6, 4])
sum of lists in tuple  (5, 9, 10)

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [32]:
d={'a':1,'b':2,'c':3,'d':4}
freq={}
for key in d:
  if key in freq:
    freq[key]+=1
  else:
    freq[key]=1
for key,value in freq.items():
  print("key:",key,"frequency:",value)

key: a frequency: 1
key: b frequency: 1
key: c frequency: 1
key: d frequency: 1